.pointer {
  cursor: pointer;
  user-select: none;
}

.marginless {
  margin: 0;
}

.selected {
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(0 0 0 / 0.2);
}

.title {
  text-shadow: 2px 2px 2px rgb(0 0 0 / 0.2);
}

article {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.hide {
  display: none;
}