body {
  /* Hide scrollbars */
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.no-margin {
  margin: 0;
}

.selected {
  font-weight: bold;
}

.footer {
  padding: 1.5rem 1.5rem 1.5rem 2rem;
}