 /* Hide scrollbar for Chrome, Safari and Opera */
 html::-webkit-scrollbar {
   display: none;
 }

 /* Hide scrollbar for IE, Edge and Firefox */
 html {
   /* Firefox */
   -ms-overflow-style: none;
   /* IE and Edge */
   scrollbar-width: none;

   user-select: none;
 }

 .pointer {
   cursor: pointer;
 }

 .question {
   cursor: help;
 }

 .marginless {
   margin: 0;
 }

 .selected {
   font-weight: bold;
 }

 .selected,
 .title {
   text-shadow: 2px 2px 2px rgb(0 0 0 / 0.2);
 }

 article {
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 }

 .hide {
   display: none;
 }